In [1]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")# Importing Libraries

import pandas as pd
import matplotlib.pyplot as plt

In [28]:
data = pd.read_csv('housing.csv')

In [29]:
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [4]:
data.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

### Question 1

What is the most frequent observation (mode) for the column `ocean_proximity`?

Options:
* `NEAR BAY`
* `<1H OCEAN`
* `INLAND`
* `NEAR OCEAN`

In [5]:
data['ocean_proximity'].value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

Answer:
- `<1H OCEAN`

### Question 2

* Create the [correlation matrix](https://www.google.com/search?q=correlation+matrix) for the numerical features of your train dataset.
    - In a correlation matrix, you compute the correlation coefficient between every pair of features in the dataset.
* What are the two features that have the biggest correlation in this dataset?

Options:
* `total_bedrooms` and `households`
* `total_bedrooms` and `total_rooms`
* `population` and `households`
* `population_per_household` and `total_rooms`

In [30]:
corr = data.corr()
corr.style.background_gradient(cmap='coolwarm')

### Make `median_house_value` binary

* We need to turn the `median_house_value` variable from numeric into binary.
* Let's create a variable `above_average` which is `1` if the `median_house_value` is above its mean value and `0` otherwise.

In [31]:
Mean = data['median_house_value'].mean()

data['above_average'] = 0

data.loc[data['median_house_value']> Mean, 'above_average'] = 1

In [32]:
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,above_average
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,1
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,1
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,1
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,1
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,1

In [9]:
data.above_average.value_counts()

0    12255
1     8385
Name: above_average, dtype: int64

### Split the data

* Split your data in train/val/test sets, with 60%/20%/20% distribution.
* Use Scikit-Learn for that (the `train_test_split` function) and set the seed to 42.
* Make sure that the target value (`median_house_value`) is not in your dataframe.

In [33]:
from sklearn.model_selection import train_test_split

In [36]:
# Let's say we want to split the data in 80:10:10 for train:valid:test dataset
import random as r
Seed = r.seed(42)
train_size=0.6

X = data.drop(columns = ['above_average']).copy()
y = data['above_average']

# In the first step we will split the data in training and remaining dataset
X_train, X_rem, y_train, y_rem = train_test_split(X,y, train_size=0.6,random_state = Seed)

# Now since we want the valid and test size to be equal (20% each of overall data). 
# we have to define valid_size=0.5 (that is 50% of remaining data)
test_size = 0.5
X_valid, X_test, y_valid, y_test = train_test_split(X_rem,y_rem, test_size=0.5,random_state = Seed)

print(X_train.shape), print(y_train.shape)
print(X_valid.shape), print(y_valid.shape)
print(X_test.shape), print(y_test.shape)

(12384, 10)
(12384,)
(4128, 10)
(4128,)
(4128, 10)
(4128,)

(None, None)

### Question 3

* Calculate the mutual information score with the (binarized) price for the categorical variable that we have. Use the training set only.
* What is the value of mutual information?
* Round it to 2 decimal digits using `round(score, 2)`

Options:
- 0.26
- 0
- 0.10
- 0.16

In [35]:
from sklearn.metrics import mutual_info_score

mutual_info_score(X_train.above_average, X_train.ocean_proximity).round(2)

AttributeError: 'DataFrame' object has no attribute 'above_average'

### Question 4

* Now let's train a logistic regression
* Remember that we have one categorical variable `ocean_proximity` in the data. Include it using one-hot encoding.
* Fit the model on the training dataset.
    - To make sure the results are reproducible across different versions of Scikit-Learn, fit the model with these parameters:
    - `model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)`
* Calculate the accuracy on the validation dataset and round it to 2 decimal digits.

Options:
- 0.60
- 0.72
- 0.84
- 0.95

In [37]:
from sklearn.preprocessing import OneHotEncoder

In [38]:
type(data)

pandas.core.frame.DataFrame

In [39]:
enc = OneHotEncoder(handle_unknown='ignore')

In [40]:
import numpy as np
def data_transform(datas: pd.core.frame.DataFrame) -> pd.core.frame.DataFrame:
    ohe = OneHotEncoder()
    A = np.asarray(datas['ocean_proximity']).reshape(-1,1)
    feature_array = ohe.fit_transform(A).toarray()
    feature_label = ohe.categories_
    feature_label = np.unique(A).ravel()

    # create DataFrame
    B = datas
    B[feature_label] = pd.DataFrame(feature_array)

    B = B.drop(['ocean_proximity'], axis = 1)
    return B

In [41]:

ohe = OneHotEncoder()
A = np.asarray(data['ocean_proximity']).reshape(-1,1)
feature_array = ohe.fit_transform(A).toarray()
feature_label = ohe.categories_
feature_label = np.unique(A).ravel()

# create DataFrame

In [42]:

data[feature_label] = pd.DataFrame(feature_array)

data.drop(['ocean_proximity'], axis = 1)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,above_average,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,1,0.0,0.0,0.0,1.0,0.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,1,0.0,0.0,0.0,1.0,0.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,1,0.0,0.0,0.0,1.0,0.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,1,0.0,0.0,0.0,1.0,0.0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,1,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,0,0.0,1.0,0.0,0.0,0.0
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,0,0.0,1.0,0.0,0.0,0.0
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,0,0.0,1.0,0.0,0.0,0.0
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,0,0.0,1.0,0.0,0.0,0.0
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,0,0.0,1.0,0.0,0.0,0.0

In [43]:
import random as r
Seed = r.seed(42)
train_size=0.6
data = data.dropna()
X = data.drop(columns = ['above_average']).copy()
y = data['above_average']

# In the first step we will split the data in training and remaining dataset
X_train, X_rem, y_train, y_rem = train_test_split(X,y, train_size=0.6,random_state = Seed)

# Now since we want the valid and test size to be equal (20% each of overall data). 
# we have to define valid_size=0.5 (that is 50% of remaining data)
test_size = 0.5
X_valid, X_test, y_valid, y_test = train_test_split(X_rem,y_rem, test_size=0.5,random_state = Seed)

print(X_train.shape), print(y_train.shape)
print(X_valid.shape), print(y_valid.shape)
print(X_test.shape), print(y_test.shape)

(12259, 15)
(12259,)
(4087, 15)
(4087,)
(4087, 15)
(4087,)

(None, None)

In [44]:
X_train = X_train.drop(['ocean_proximity'], axis = 1)
X_valid = X_valid.drop(['ocean_proximity'], axis = 1)
X_test = X_test.drop(['ocean_proximity'], axis = 1)

In [45]:
X_train

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
12,-122.26,37.85,52.0,2491.0,474.0,1098.0,468.0,3.0750,213500.0,0.0,0.0,0.0,1.0,0.0
14183,-117.07,32.71,39.0,2754.0,652.0,2263.0,619.0,2.2454,89600.0,0.0,0.0,0.0,0.0,1.0
3490,-118.46,34.28,23.0,1663.0,302.0,1242.0,283.0,5.5931,217600.0,1.0,0.0,0.0,0.0,0.0
2084,-119.81,36.76,52.0,1792.0,352.0,1049.0,357.0,2.4375,57100.0,0.0,1.0,0.0,0.0,0.0
19767,-122.06,40.02,32.0,1435.0,277.0,690.0,254.0,2.3043,68400.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4139,-118.18,34.12,29.0,2640.0,737.0,1795.0,655.0,2.3690,173400.0,1.0,0.0,0.0,0.0,0.0
1810,-122.33,37.92,26.0,3887.0,779.0,2512.0,740.0,2.2301,122400.0,0.0,0.0,0.0,1.0,0.0
6642,-118.14,34.17,34.0,2384.0,604.0,2073.0,540.0,2.3062,158000.0,1.0,0.0,0.0,0.0,0.0
10547,-117.77,33.71,15.0,2102.0,295.0,1060.0,303.0,7.3141,337100.0,1.0,0.0,0.0,0.0,0.0
16913,-122.34,37.55,25.0,4470.0,518.0,1507.0,504.0,13.3913,500001.0,0.0,0.0,0.0,0.0,1.0

In [46]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42, n_jobs = -1)

In [47]:
model.fit(X_train,y_train)

LogisticRegression(max_iter=1000, n_jobs=-1, random_state=42,
                   solver='liblinear')

In [56]:
y_pred=model.predict_proba(X_valid)

In [94]:
w = y_pred[:,1]>0.1

w = w.astype(int)
w

array([0, 1, 0, ..., 0, 0, 0])

In [95]:
y_valid

3682     0
968      1
12283    0
7467     0
174      0
        ..
14320    0
18593    1
3319     0
18737    0
11061    0
Name: above_average, Length: 4087, dtype: int64

In [96]:
y_predWork = pd.DataFrame(w)

In [97]:
from sklearn import metrics

In [85]:
type(y_predWork)

pandas.core.frame.DataFrame

In [98]:
accuracy = metrics.accuracy_score(y_valid, y_predWork)
accuracy_percentage = 100 * accuracy

In [99]:
accuracy_percentage

96.52556887692684

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=0e5accac-a4a2-4664-8377-0222db5ddeb3' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>